$primary:							#ff0080;
$secondary:							#00ffff;
$navbar-dark-color:                	white;
$navbar-dark-hover-color:           #00ffff;
$navbar-dark-active-color:          #00ffff;
@import '~bootstrap/scss/bootstrap';
@import '~owl.carousel/dist/assets/owl.carousel.css';

.navbar-dark {
	background-color: #0080ff !important;
	a {font-family: 'Lato', sans-serif;}
	.navbar-brand { font-weight: 700; color: #fff; }
}
body {font-family: 'Lato', sans-serif; font-weight:400;}
main {
	margin-top:4em;
	
}
.header {margin-top:3em;}
//xs media breaks
@media (max-width: 576px) {
    nav {
    	.btn {width:100%;}
	}

	.staff {h3, h4 {margin-top:.5em;text-align:center;}}
}
a, a:visted, a:active {
	color: #0080ff;
	text-decoration: none;
}
a:hover {color:#8000ff;text-decoration: none;}

footer {
	p{
		a {
			color: white;
			text-decoration: none;
		}
		a:hover {
			color:$primary;text-decoration: none;
		}
	}
	font-weight:700;
	font-size: 1.25em;
	background-color: #0080ff;
	color:white;
	text-align:center;
	padding:2em 0;
	.social {
		width: 150px;
		margin:0 10px;
	}
}

.staff {
	background-color:$secondary;
	color:black;
	padding:1.5em;
	margin:1em;
	img {width:100%;border:1px white solid;}
	h3 {
		font-weight:700;
		font-size:1.5rem;
	}
	h4 {
		font-weight:400;
		font-size:1.25rem;
	}

}

.staff:nth-child(odd){
	img {border:1px black solid;}
	background-color:$primary;
	color:white;
	
}

.our-staff {margin:3em 0 1em 0;}

.class {border:5px white solid; padding:1em;background-color: $primary; color:white;h2{text-align: center;}}
.class:nth-child(even) {background-color: $secondary;color:black;}

.policies { 
	h2, h3{ margin-top:.5em;
		padding:.25em;
		color:white;
		background-color: $primary;
	}
	h3 {font-size:1.2em;}
	ul {list-style: none;padding:0;}
	li {margin-bottom:10px;}
	li::before {content: url(/img/checkmark.png) ' ';}
}
.camp {background-color: blue;}


/* COLORS
#0080ff
#00ffff
#0000ff
#8000ff
#ff00ff
#ff0080
*/


.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

	#navbar .parent,
	#navbar .enroll {
		margin-bottom: 10px;
		margin-right: 0px;
	}


@media (min-width: 768px) {
	#navbar .parent,
	#navbar .enroll {
		margin-bottom: 0px;
		margin-right: 10px;
	}

}